config NOTECARD
    bool "Enable the helper library for the Golioth Ostentus faceplate"
    default n
    depends on I2C
    help
      Module for controlling blues.io notecard using their note-c library.